@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  box-shadow: border-box;
  padding: 0;
  margin: 0;
  font-family: "Work Sans";
}

body {
  padding: 0;
  margin: 0;
}
body .dashboard {
  background-color: rgb(245, 245, 220);
  display: flex;
  flex-direction: row wrap;
}
body .dashboard .sidebar {
  display: block;
  background-color: rgb(19, 0, 19);
  border-top-right-radius: 16px;
  padding: 1rem;
  transition: transform 0.5s ease;
  position: relative;
  flex: 1;
  height: 100vh;
}
body .dashboard .sidebar .logo-name {
  display: grid;
  grid-template-columns: 40% 60%;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 1rem;
}
body .dashboard .sidebar .logo-name h1 {
  color: rgb(255, 255, 255);
  font-family: "Work Sans";
  margin-top: 2rem;
}
body .dashboard .sidebar .logo-name img {
  height: 80px;
  width: 80px;
}
body .dashboard .sidebar .sidebar-content ul {
  padding-top: 1rem;
}
body .dashboard .sidebar .sidebar-content ul li {
  margin-top: 2rem;
  display: flex;
}
body .dashboard .sidebar .sidebar-content ul li svg {
  padding: 0 0.5rem;
}
body .dashboard .sidebar .sidebar-content ul li a {
  text-decoration: none;
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  padding: 0 0.5rem;
  margin-top: 0.25rem;
}
body .dashboard .sidebar .sidebar-content ul li .dash-link {
  color: rgb(255, 165, 0);
}
body .dashboard .sidebar .sidebar-content ul li:hover {
  border-left: 2px solid rgb(255, 255, 255);
}
body .dashboard .sidebar .sidebar-content ul li:active {
  color: yellow;
}
body .dashboard .main {
  background-color: rgb(245, 245, 220);
  transition: transform 0.1s ease;
  width: 100%;
  flex: 4;
}
body .dashboard .main .header {
  display: grid;
  grid-template-columns: 3% 30% 37% 30%;
  padding: 1rem;
}
body .dashboard .main .header .toggle-btn {
  padding: 10px 0;
}
body .dashboard .main .header .search-input input {
  width: 330px;
  height: 40px;
  border-radius: 8px;
  padding: 0px, 0px, 0px, 15px;
  gap: 20px;
  font-family: "Work Sans";
  font-size: 18px;
}
body .dashboard .main .header .user-name {
  font-family: "Work Sans";
  color: rgb(128, 0, 128);
  justify-content: right;
  float: right;
  text-align: right;
  font-size: 20px;
  padding-top: 0.5rem;
  font-weight: 600;
}
body .dashboard .main .header .alert-icon ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
}
body .dashboard .main .header .alert-icon ul li {
  padding: 10px 30px;
}
body .dashboard .main .login-name {
  padding: 0 1rem;
}
body .dashboard .main .login-name p {
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
body .dashboard .main h2 {
  font-size: 24px;
  font-family: "Work Sans";
  padding: 0.5rem 1rem;
}
body .dashboard .main .all-students {
  padding: 0 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin: 1rem;
}
body .dashboard .main .all-students .student-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5rem;
  font-size: 18px;
}
body .dashboard .main .all-students .student-data .username {
  display: flex;
}
body .dashboard .main .all-students .student-data .username .dp img {
  height: 45px;
  width: 45px;
}
body .dashboard .main .all-students .student-data .username .name {
  padding: 1rem 0;
}
body .dashboard .main .all-students .student-data .reg-no {
  justify-self: center;
  padding: 1rem 0;
}
body .dashboard .main .all-students .student-data .level {
  justify-self: right;
  padding: 1rem 0;
}
body .dashboard .main .students-statistics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}
body .dashboard .main .students-statistics .total-students {
  background: rgb(255, 255, 255);
  width: 80%;
  border-radius: 30px;
  padding: 2rem;
}
body .dashboard .main .students-statistics .total-students .students-img {
  display: flex;
  padding: 2rem 0;
}
body .dashboard .main .students-statistics .total-students .students-img img {
  width: 85.46px;
  height: 83px;
  top: 302px;
  z-index: 1;
}
body .dashboard .main .students-statistics .total-students .students-img .ellipse-two {
  width: 85.46px;
  height: 83px;
  top: 302px;
}
body .dashboard .main .students-statistics .total-students .total-number {
  font-family: "Work Sans";
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 2rem;
}
body .dashboard .main .students-statistics .statistics {
  background: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 2rem;
}
body .dashboard .main .students-statistics .statistics .level-chart {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div {
  display: flex;
  margin: 0.25rem 0;
}
body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div .final-level {
  background: rgb(5, 191, 224);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0.6rem 0;
}
body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div .fourth-level {
  background: rgb(255, 102, 54);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0.6rem 0;
}
body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div .third-level {
  background: rgb(5, 156, 75);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0.6rem 0;
}
body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div .second-level {
  background: rgb(255, 165, 0);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0.6rem 0;
}
body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div .first-level {
  background: rgb(128, 0, 128);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0.6rem 0;
}
body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div p {
  margin: 0.45rem;
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
body .dashboard .main .announcement-history {
  background: rgb(255, 255, 255);
  padding: 2rem;
  margin: 1rem;
}
body .dashboard .main .announcement-history h2 {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
body .dashboard .main .announcement-history .announcement {
  display: grid;
  grid-template-columns: 40% 35% 25%;
}
body .dashboard .main .announcement-history .announcement .message-title {
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding: 1rem 0;
}
body .dashboard .main .announcement-history .announcement .date {
  padding: 1rem 0;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
body .dashboard .main .announcement-history .announcement .see-more {
  text-align: right;
  padding: 1rem 0;
}
body .dashboard .main .announcement-history .announcement .see-more a {
  text-decoration: none;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  width: Fixed 153px;
  height: Fixed 30px;
  border-radius: 8px;
  border: 1px solid black;
  gap: 8px;
  padding: 0.25rem 2rem;
}
body .dashboard .main .communication-history {
  background-color: rgb(255, 255, 255);
  margin: 1rem;
  padding: 2rem;
}
body .dashboard .main .communication-history h2 {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 0 1rem 0;
}
body .dashboard .main .communication-history .communication-details {
  display: grid;
  grid-template-columns: 40% 35% 25%;
  padding: 1rem 0;
}
body .dashboard .main .communication-history .communication-details .user-profile {
  display: flex;
}
body .dashboard .main .communication-history .communication-details .user-profile .user-dp img {
  width: 24.46px;
  height: 24px;
}
body .dashboard .main .communication-history .communication-details .user-profile .username p {
  padding: 0 10px;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
body .dashboard .main .communication-history .communication-details .message-date {
  text-align: center;
}
body .dashboard .main .communication-history .communication-details .more-details {
  text-align: right;
}
body .dashboard .main .communication-history .communication-details .more-details a {
  text-decoration: none;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  width: Fixed 153px;
  height: Fixed 30px;
  border-radius: 8px;
  border: 1px solid black;
  gap: 8px;
  padding: 0.25rem 2rem;
}
body .dashboard .main footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(19, 0, 19);
  color: rgb(255, 255, 255);
  border-radius: 16px;
  margin: 1rem;
}
body .dashboard .main footer .copyright {
  padding: 2rem;
}
body .dashboard .main footer .site-version {
  text-align: right;
  padding: 2rem;
}

@media screen and (max-width: 767px) {
  body {
    padding: 0;
    margin: 0;
  }
  body .dashboard {
    background-color: rgb(245, 245, 220);
    display: flex;
    flex-direction: row wrap;
    overflow: auto;
  }
  body .dashboard .sidebar {
    display: none;
    background-color: rgb(19, 0, 19);
    border-top-right-radius: 16px;
    padding: 1rem;
    transition: transform 0.5s ease;
    position: relative;
    flex: 1;
    z-index: 1;
  }
  body .dashboard .sidebar .logo-name {
    display: grid;
    grid-template-columns: 40% 60%;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 1rem;
  }
  body .dashboard .sidebar .logo-name h1 {
    color: rgb(255, 255, 255);
    font-family: "Work Sans";
    margin-top: 2rem;
  }
  body .dashboard .sidebar .logo-name img {
    height: 80px;
    width: 80px;
  }
  body .dashboard .sidebar .sidebar-content ul {
    padding-top: 1rem;
  }
  body .dashboard .sidebar .sidebar-content ul li {
    margin-top: 2rem;
    display: flex;
  }
  body .dashboard .sidebar .sidebar-content ul li svg {
    padding: 0 0.5rem;
  }
  body .dashboard .sidebar .sidebar-content ul li a {
    text-decoration: none;
    font-family: "Work Sans";
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding: 0 0.5rem;
    margin-top: 0.25rem;
  }
  body .dashboard .sidebar .sidebar-content ul li .dash-link {
    color: rgb(255, 165, 0);
  }
  body .dashboard .sidebar .sidebar-content ul li:hover {
    border-left: 2px solid rgb(255, 255, 255);
  }
  body .dashboard .sidebar .sidebar-content ul li:active {
    color: yellow;
  }
  body .dashboard .main {
    background-color: rgb(245, 245, 220);
    transition: transform 0.1s ease;
    width: 100%;
    flex: 4;
  }
  body .dashboard .main .header {
    display: flex;
    padding: 1rem 0;
  }
  body .dashboard .main .header .toggle-btn {
    flex: 0.3;
    padding: 0;
    cursor: pointer;
  }
  body .dashboard .main .header .toggle-btn svg {
    cursor: pointer;
  }
  body .dashboard .main .header .search-input {
    flex: 1;
  }
  body .dashboard .main .header .search-input input {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    padding: 0px, 0px, 0px, 15px;
    gap: 20px;
    font-family: "Work Sans";
    font-size: 18px;
  }
  body .dashboard .main .header .user-name {
    font-family: "Work Sans";
    color: rgb(128, 0, 128);
    justify-content: center;
    text-align: center;
    font-size: 13px;
    padding-top: 0.5rem;
    font-weight: 600;
    text-align: center;
    float: center;
    flex: 2;
  }
  body .dashboard .main .header .alert-icon {
    justify-self: center;
  }
  body .dashboard .main .header .alert-icon ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    text-align: right;
  }
  body .dashboard .main .header .alert-icon ul li {
    padding: 5px 10px;
  }
  body .dashboard .main .login-name {
    padding: 0 1rem;
  }
  body .dashboard .main .login-name p {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  body .dashboard .main .students-statistics {
    display: grid;
    grid-template-columns: 100%;
  }
  body .dashboard .main .students-statistics .total-students {
    background: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 3rem;
    margin: 1rem 0;
  }
  body .dashboard .main .students-statistics .total-students .students-img {
    display: flex;
    flex-direction: row wrap;
  }
  body .dashboard .main .students-statistics .total-students .students-img img {
    width: 73px;
    height: 73px;
    top: 302px;
    z-index: 1;
    padding: 0;
  }
  body .dashboard .main .students-statistics .total-students .students-img .ellipse-two {
    width: 85.46px;
    height: 83px;
    top: 302px;
  }
  body .dashboard .main .students-statistics .total-students .total-number {
    font-family: "Work Sans";
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 2rem;
  }
  body .dashboard .main .students-statistics .statistics {
    background: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 2rem;
  }
  body .dashboard .main .students-statistics .statistics .level-chart {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div {
    display: flex;
    margin: 0.25rem 0;
  }
  body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div .final-level {
    background: rgb(5, 191, 224);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0.6rem 0;
  }
  body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div .fourth-level {
    background: rgb(255, 102, 54);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0.6rem 0;
  }
  body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div .third-level {
    background: rgb(5, 156, 75);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0.6rem 0;
  }
  body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div .second-level {
    background: rgb(255, 165, 0);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0.6rem 0;
  }
  body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div .first-level {
    background: rgb(128, 0, 128);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0.6rem 0;
  }
  body .dashboard .main .students-statistics .statistics .level-chart .level-statistics div p {
    margin: 0.45rem;
    font-family: "Work Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  body .dashboard .main .announcement-history {
    background: rgb(255, 255, 255);
    padding: 2rem;
    margin: 1rem 0;
  }
  body .dashboard .main .announcement-history h2 {
    font-family: "Work Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
  body .dashboard .main .announcement-history .announcement {
    display: grid;
    grid-template-columns: 40% 30% 30%;
  }
  body .dashboard .main .announcement-history .announcement .message-title {
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding: 1rem 0;
  }
  body .dashboard .main .announcement-history .announcement .date {
    padding: 1rem 0;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
  }
  body .dashboard .main .announcement-history .announcement .see-more {
    text-align: right;
    padding: 1rem 0;
  }
  body .dashboard .main .announcement-history .announcement .see-more a {
    text-decoration: none;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    border-radius: 8px;
    border: 1px solid black;
    gap: 8px;
    padding: 0.25rem 1.2rem;
  }
  body .dashboard .main .communication-history {
    background-color: rgb(255, 255, 255);
    margin: 1rem 0;
    padding: 2rem;
  }
  body .dashboard .main .communication-history h2 {
    font-family: "Work Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 0 1rem 0;
  }
  body .dashboard .main .communication-history .communication-details {
    display: grid;
    grid-template-columns: 40% 35% 25%;
    padding: 1rem 0;
  }
  body .dashboard .main .communication-history .communication-details .user-profile {
    display: flex;
  }
  body .dashboard .main .communication-history .communication-details .user-profile .user-dp img {
    width: 24.46px;
    height: 24px;
  }
  body .dashboard .main .communication-history .communication-details .user-profile .username p {
    padding: 0 10px;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  body .dashboard .main .communication-history .communication-details .message-date {
    text-align: center;
  }
  body .dashboard .main .communication-history .communication-details .more-details {
    text-align: right;
  }
  body .dashboard .main .communication-history .communication-details .more-details a {
    text-decoration: none;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    border-radius: 8px;
    border: 1px solid black;
    gap: 8px;
    padding: 0.25rem 0.6rem;
  }
  body .dashboard .main footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(19, 0, 19);
    color: rgb(255, 255, 255);
    border-radius: 16px;
    margin: 1rem;
  }
  body .dashboard .main footer .copyright {
    padding: 2rem;
  }
  body .dashboard .main footer .site-version {
    text-align: right;
    padding: 2rem;
  }
}/*# sourceMappingURL=sidebar.css.map */